<div id="page">
  <div id="activity">Activity</div>

  <div id="planning">Planning
      <?php
            require_once("Controller/ScheduleControl.php");
            $schedule = new SceduleControl();
            $schedule->getSchedule();
      ?>
  </div>

  <div id="list">
    <div id="week">Liste des semaines
        <?php
            for ($i=0; $i < 10; $i++) { 
              echo "</br>semaine".$i;
            }
        ?>
    </div>
    <div id="local">liste locaux
      <?php
            require_once("Controller/LocalTreeControl.php");
            $localTree = new LocalTree();
            $localTree->getLocalTree();
        ?>
    </div>
  </div>
</div>